VITE_FIREBASE_API_KEY=YOUR_API_KEY
VITE_FIREBASE_AUTH_DOMAIN=careerpilot-ai-58262.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=careerpilot-ai-58262
VITE_FIREBASE_STORAGE_BUCKET=careerpilot-ai-58262.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=891687580776
VITE_FIREBASE_APP_ID=1:891687580776:web:d937609730c1c23aae37dd
VITE_FIREBASE_MEASUREMENT_ID=G-ZXN1Z68LS4
VITE_API_URL=http://localhost:5000